<form action="/api/users" method="post"> {{!este formulario va a realizar la solicitud de tipo POST al endoint 'api/users'}}
    <label>Email</label><input type="text" name="email" id="email">
    <label>Password</label><input type="password" name="password" id="password">
    <input type="submit" value="Registrarse">
</form>